@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    display: flex;
}

.main{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #edf6f5;
}

#sidebar{
    width: 85px;
    min-width: 85px;
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #2d6a4f;
}

.sidebar-expanded #sidebar {
  width: 260px;
  min-width: 260px;
}


#toggle-btn {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 1rem 0;
  width: 85px;            /* fixed width same as collapsed sidebar */
  display: flex;
  justify-content: center; /* center icon inside this fixed width */
  align-items: center;
  box-sizing: border-box;
}
#toggle-btn{
    background: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.sidebar-logo{
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.logo-img {
  height: 65px;
  width: auto;
  display: inline-block;
  filter: drop-shadow(0 0 2px rgba(49, 100, 49, 0.7));
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) .sidebar-link span {
  opacity: 0;
  transform: translateX(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand .sidebar-link span {
  opacity: 1;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #FFF;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 1.5rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    width: 100%;
    transition: all .25s ease-in-out;
}

.sidebar-link{
    font-size: 1.1rem;
    margin-right: .75rem;
}

.sidebar-link.active-link{
    background-color: rgba(255,255,255,.075);
    border-left: 5px solid #0bb10b;
}

a.sidebar-link:hover{
    background-color: rgba(255,255,255,.075);
    border-left: 5px solid #0bb10b;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    background-color: #edf6f5;
    background-image: url('test.png');
    background-repeat: repeat;
    background-size: 150px 150px;
    background-color: #edf6f5;
    
}
.login-box {
    width: 30vw;
    min-width: 320px;
    max-width: 400px;
    height: auto;
    background-color: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    opacity: 1;
    transform: translateY(40px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.hidden-login-box {
    opacity: 0;
    transform: translateY(40px);
}

.visible-login-box {
    opacity: 1;
    transform: translateY(0);
}

.login-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.login-txt {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}

.login-btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #2d6a4f;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
}

.login-btn:hover {
    background-color: #248054;
    color: white;
}
.login-info h6 {
    margin: .01rem 0;
    font-size: 0.8rem;
    text-align: center;
}

.center-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
}

.custom-center-box {
  width: 35%;
  height: 52%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 2rem;
  position: relative;
}

.hidden-custom-center-box {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.visible-custom-center-box {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.hidden-overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease;
}

.visible-overlay {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.4s ease;
}